:root {
  --color-pink: #ffd2da;
  --color-blue: #203c89;
  --color-grey: #f9f9f9;
  --color-dark-blue: #001a3b;
  --color-dark-grey: #d6d9de;
}

html {
  -webkit-tap-highlight-color:transparent;
}

@media screen and (min-width: 992px) {
  body {
    padding: 0 130px 0 130px;
  }
}
    body {
      /* width: 100vw; */
      margin: 0;
    }
/* overflow: hidden; */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
